.details {
  padding: 15px 0px 15px 10px;
  width: 370px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.detailsBody {
  background-color: var(--card-bg);
  width: 90%;
  padding: 10px;
  border-radius: 19px;
  border: 1px solid var(--border);
}

.detailsHeader {
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  margin-bottom: 15px;
}

.detailsRow {
  padding: 0px 25px;
  height: 35px;
  display: flex;
  justify-content: space-around;
}

.detailsAttribute {
  font: 18px;
  font-weight: 600;
  color: var(--text-primary);
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.detailsValue {
  font: 18px;
  font-weight: 900;
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  width: 50%;
}
